.c4-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // font-family: 'Source Code Pro', 'Fira Code';

  .c4-in-title {
    font-size: 24px;
  }

  .c4-in-type {
    font-size: 14px;
  }

  .c4-in-description {
    font-size: 18px;
  }
}