.c4-relationship-info {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.center {
    align-items: center;
  }

  &.left {
    align-items: flex-start;
  }

  &.right {
    align-items: flex-end;
  }

  .c4-rel-title {
    font-size: 12px;
  }
  .c4-rel-technologies {
    font-size: 10px;
  }
}